body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 50px;
    margin-top: 50px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}


.nav__bar{
    align-items: center;
    background-color: rgb(47, 128, 189);
    display: flex;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
    position: relative;
    top: 0px;
    z-index: 1000;
    border-radius: 30px;
    color: white;

}

.nav__bar a{
    float: left;
    display: block;
    color: white;
    font-weight: 400;
    transition: 0.2s;
    text-align: center;
    text-decoration: none;
    margin-left: 10px;
}

.nav__bar a:hover{
    color: yellow;
    transition: 0.2s;
}

.form__section{
    max-width: 400px;
    margin: 0 auto;
    padding: 50px 3rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.table__section{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.table__section table{
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.footer__container{
    justify-content: space-between;
    padding: 1rem 2%;
    top: 0;
    margin-top: 50px;
    align-items: center;
    color: white;
    background-color: rgb(47, 128, 189);
    display: flex;
    font-weight: bold;
    position: relative;
    gap: 20px;
    text-decoration: none;
    list-style: none;

}